@import "bootstrap";
@import "bootstrap-sprockets";
.heading{text-align:center;font-weight:bold;color:blue;}
.link{font-size:20px;font-weight:700;color:grey;  text-decoration: underline;}
.row{margin-left:0px}
